extends ../layouts/main.pug
block content
    h1#my-unique-id Contact us

    p.intro-text(data-attr = "name1") Dante Coelho Cerqueira Santos
    p.intro-text(data-attr = "tel1") 555 555 5555 
    p.intro-text(data-attr = "name1") Gagandeep Kaur
    p.intro-text(data-attr = "tel1") 444 444 4444
    p.intro-text(data-attr = "name1") Thuong Tran
    p.intro-text(data-attr = "tel1") 333 333 3333
    p.intro-text(data-attr = "name1") Dhruvi Tank
    p.intro-text(data-attr = "tel1") 222 222 2222