extends ../layouts/main.pug
block content
    h1#my-unique-id  Content detailing our routes

    p.intro-text(data-attr = "route1") Route 1 is the main page
    p.intro-text(data-attr = "route2") Route 2 is the about page
    p.intro-text(data-attr = "route3") Route 3 is the contact page      