extends ../layouts/main.pug
block content
    h1#my-unique-id  Content detailing our routes

    p.intro-text(data-attr = "route2") Go to <a href="https://lab1-framework.herokuapp.com/about">about</a> page
    p.intro-text(data-attr = "route3") Go to <a href="https://lab1-framework.herokuapp.com/contact">contact</a> page