extends ../layouts/main.pug
block content
    h1#my-unique-id  Content detailing our routes

    p.intro-text(data-attr = "route1")
    p.intro-text(data-attr = "route2")
    p.intro-text(data-attr = "route3")       